<section class="genre">
  {{#if songs.length}}
    {{#each songs as |song|}}
      <div class="song-details">
        <h3>{{song.title}}</h3>
        <p>Album: {{song.album}}</p>
        <p>By: {{song.artist}}</p>
        {{{song.embed}}}
      </div>
    {{/each}}
  {{else}}
    <h3>No liked songs found!</h3>
  {{/if}}
</section>