<section class="genre">
  <div class="song-details">
    <h3>{{song.title}}</h3>
    <p>Album: {{song.album}}</p>
    <p>By: {{song.artist}}</p>
    {{{ song.embed }}}
    {{#if isLiked}}
    <button value="{{song.id}}" class="btn btn-primary like-button">Liked!</button>
    {{else}}
     <button value="{{song.id}}" class="btn btn-primary like-button">Like Song?</button>
     {{/if}}
  </div>
</section>

<script src="/js/like.js"></script>